html{
    background-color: #fecd4e;
}

body{
    font-family: "Titillium Web", sans-serif;
    height: 100%;
    margin: 0;
    background-color: #efefef;
}

img{
    max-width: 100%;
    display: block;
}

.header {
    overflow: hidden;
    background-color: #fecd4e;
    padding: 40px 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header a{
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 30px;
    font-weight: 500;
}

.header a.logo{
    font-size: 60px;
    font-weight: 700;
}

.header a.directories{
    font-size: 25px;
    font-weight: 500;
    padding: 10px 20px;
    transition: background-color 0.2s linear, color 0.2s linear;
}

.header a.logo:hover{
    background-color: #fecd4e;
    color: black;
}

.header-right{
    gap: 30px;
}

.header a.directories:hover{
    background-color: black;
    color: #fecd4e;
    border-radius: 30px;
}

.wrapper{
    display:flex;
    justify-content: space-evenly;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/background-image.JPG);
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: grid;
    place-items: center;
  }

  .hero-text {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    h1 {
        font-size: clamp(2.3328rem, 2.0827rem + 1.2504vi, 3.0518rem);
    }
  }

  .buttons{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
  }

  .hero-button{
    font-size: 25px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #fecd4e;
    border: 3px solid white;
    transition: background-color 0.2s linear, color 0.2s linear;
    text-decoration: none;
}

.hero-button:hover{
    background-color: rgb(0, 0, 0);
    color:#fecd4e;
    border: 3px solid white;
}

.hero-button:visited{
    color: black;
}

.hero-button:visited:hover{
    color: #fecd4e;
}


.work_heading{
    text-align: center;
}

.flex-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}


.card{
    background-color: #fecd4e;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    max-width: 30%;
    width: 100%;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.5);
}

.card:hover, .card-image{
    background-color: rgba(254,205,78,0.5);
    color: black;
}

.card-content{
    text-align: center;
}

.card-image{
    border-radius: 10px;
}

.footer {
    margin-top: 200px;
    overflow: hidden;
    background-color: #fecd4e;
    padding: 40px 70px;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.collab{
    margin-left: auto;
    font-size: large;
}

.collab a {
    color: black;
    font-weight: 700;
}

.collab a:visited{
    color: black;
    font-weight: 700;
}

.socials{
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.socials img{
    width: 50px;
    height: 50px;
}

ul{
    list-style: none;
}

:root {
    --white: black;
}

.nav {
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-out;
    float: right;
    width: fit-content;
}

.burger {
    display: none;
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 36px;
    padding: 10px;
    margin-top: 34px;
    background: transparent;
}

.burger-line {
    background: var(--white);
    height: 4.5px;
    position: relative;
    display: block;
    border-radius: 10px;
}

.burger-line::before, .burger-line::after {
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
    border-radius: 10px;
}

.burger-line::before {
    top: -12px;
}

.burger-line::after {
    top: 12px;
}

.side-menu:checked ~ .nav {
    max-height: 200px;
}

.side-menu {
    display: none;
}

.burger-nav{
    display: flex;
}

@media screen and (max-width: 929px){

    .header a{
        float: none;
        display: block;
        text-align: center;
    }
    .header-right{
        float: none;
    }
    .header a.logo{
        text-align: center;
    }
    .wrapper{
        display:flex;
        justify-content: space-evenly;
    }
    .flex-container{
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-bottom: 50px;
    }

    .card{
        max-width: 90%;
    }

    .burger{
        display: block;
    }

    .nav{
        display: block;
    }

    a.directories{
        display: none;
    }
}

@media screen and (max-width: 539px){
    .header a{
        float: none;
        text-align: center;
    }
    .header-right{
        float: none;
    }
    .header a.logo{
        padding-bottom: 40px;
        text-align: center;
    }
    .wrapper{
        display:flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

}

@media screen and (max-width: 449px){
    .header a.logo{
        padding-bottom: 40px;
        text-align: center;
        font-size: 50px;
    }

}

@media screen and (max-width: 395px){
    .header a.logo{
        padding-bottom: 40px;
        text-align: center;
        font-size: 39px;
    }

}

@media screen and (max-width: 600px){

    .buttons{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

}